[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mysql-connector-python = "*"
autopep8 = "*"
pylint = "*"
colorama = "*"
pyinquirer = "*"
pyfiglet = "*"
tabulate = "*"

[dev-packages]

[requires]
python_version = "3.8"
